@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;1,300&display=swap');



body{
    background-color: #01161E; 
    font-family: 'Overpass', sans-serif;
    color: #70F8BA;
}

.navbar, .navbar-brand{
    background-color:  #01161E !important;
    color: #70F8BA !important;
}

.navbar:hover, .navbar-brand:hover{
    color: #0bea86 !important;
}

.maintitle{
    text-align: center;
    padding-top: 10%;
}


.firstbox{
    padding-top: 30%;
    padding-left: 20%;
    padding-bottom: 5%;
}

.secondbox{
    padding-right: 20%;
    padding-bottom: 5%;
    text-align: right;
}

.thirdbox{
    padding-left: 20%;
    padding-bottom: 5%;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }

@keyframes fadeIn {
    0% {opacity:0;transform: translateY(100%);}
    100% {opacity:1;}
    }