@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;1,300&display=swap');



body{
    background-color: #01161E; 
    font-family: 'Overpass', sans-serif;
    color: #70F8BA;
}

.navbar, .navbar-brand{
    background-color:  #01161E!important;
    color: #70F8BA !important;
}

.navbar:hover, .navbar-brand:hover{
    color: #0bea86 !important;
}

.maintitle{
    text-align: center;
    padding-top: 10%;
}
