@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;1,300&display=swap');



body{
    font-family: 'Overpass', sans-serif;
}

.maintitle{
    text-align: center;
    padding-top: 10%;
}
