@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;1,300&display=swap');



body{
    background-color: #01161E; 
    font-family: 'Overpass', sans-serif;
    color: #70F8BA;
}

.navbar{
    background-color: #CAFE48 !important;
    color: #57467B !important;
}

.maintitle{
    text-align: center;
    padding-top: 10%;
}
